################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BooksStore/.vs/BooksStore
/BooksStore/BooksStore/bin/Debug/netcoreapp3.1
/BooksStore/BooksStore/obj
